.hero
  padding: 50px 0 52px 0
  background-color: $bg-color
  &-image 
    width: 100%
    max-width: 570px
    max-height: 488px
  &-block 
    display: flex
  &-text 
    flex-basis: 45%
    padding-right: 120px
    &__title
      font-size: 41px
      line-height: 55px
      margin-bottom: 37px
      +bold
    &__subtitle
      font-size: 20px
      display: inline-block
      margin-bottom: 70px
      +bold
  &-list
    margin: 0
    padding: 0 
    &__item
      display: flex
      align-items: center
      margin-bottom: 23px
    &__image
      width: 38px
      height: 38px
      border: 2px solid $main-color
      display: flex
      align-items: center
      justify-content: center
      border-radius: 50%
      margin-right: 30px
    &__text
      font-size: 14px
      max-width: 240px 
      
      line-height: 24px   
@media (max-width: 1200px)
  .hero
    &-list  
      margin-bottom: 44px
    &-text
      padding-right: 10px   
@media (max-width: 992px)   
  .hero
    &-text
      &__title
        font-size: 34px
    &-block 
      flex-direction: column  

@media (max-width: 768px)
  .hero
    &-text
      &__title
        font-size: 24px
        line-height: 1.4
        margin-bottom: 15px
      &__subtitle
        font-size: 16px 
        margin-bottom: 28px
    &-list
      &__item
        margin-bottom: 20px
      &__text
        font-size: 12px
        max-width: 198px
      &__image
        margin-right: 15px   
@media (max-width: 420px)
  .container
    margin: auto    
  .hero
    padding-top: 33px
    &-text
      margin-left: 5px
      &__title
        line-height: 1.2
        font-size: 24px
        font-weight: 400
        margin-bottom: 8px
        width: 275px
    &-image
      margin: auto
    &-list
      margin-bottom: 35px
      width: 320px
      &__item
        margin-bottom: 20px
      &__text
        font-size: 12px
        font-weight: 500
        line-height: 1.2
        max-width: 200px
      &__image
        width: 36px
        height: 36px
      