body {
  font-family: sans-serif;
}

img {
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    width: 992px;
    width: 90%;
  }
}

@media (max-width: 992px) {
  width: 768px;
  width: 90%;
}

@media (max-width: 768px) {
  .container {
    max-width: 567px;
    width: 90%;
  }
}

@media (max-width: 567px) {
  .container {
    max-width: 420px;
    width: 90%;
  }
}

@media (max-width: 420px) {
  max-width: 320px;
  width: 90%;
}

.button {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  padding: 18px 30px;
}

.navbar {
  padding: 8px 0;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}

.navbar__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 13px;
  font-weight: 500;
}

.navbar__button {
  margin-left: 30px;
  font-size: 13px;
  font-weight: 600;
}

.navbar__phone {
  display: inline-block;
  color: #333333;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  margin-top: 9px;
}

@media (max-width: 768px) {
  .navbar__contacts {
    display-text: none;
  }
  .navbar__contacts span {
    font-size: 10px;
    font-weight: 500;
  }
  .navbar__contacts a {
    font-size: 15px;
    font-weight: 600;
  }
  .navbar__button {
    font-size: 12px;
    padding: 15px 26px;
  }
  .navbar__logo {
    width: 120px;
  }
}

@media (max-width: 567px) {
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    font-size: 12px;
    padding: 15px 26px;
  }
  .navbar__logo {
    width: 100px;
  }
}

@media (max-width: 420px) {
  .navbar {
    margin-top: 8px;
    margin-left: 5px;
  }
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    font-size: 10px;
    font-weight: 600;
    padding: 15px 26px;
    margin-right: 7px;
  }
  .navbar__logo {
    width: 90px;
  }
}

.hero {
  padding: 50px 0 52px 0;
  background-color: #f5f5f5;
}

.hero-image {
  width: 100%;
  max-width: 570px;
  max-height: 488px;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-text {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  padding-right: 120px;
}

.hero-text__title {
  font-size: 41px;
  font-weight: 700;
  line-height: 55px;
  margin-bottom: 37px;
}

.hero-text__subtitle {
  font-size: 20px;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 70px;
}

.hero-list {
  margin: 0;
  padding: 0;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 27px;
}

.hero-list__image {
  width: 38px;
  height: 38px;
  border: 2px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin-right: 30px;
}

.hero-list__text {
  max-width: 300px;
}

@media (max-width: 1200px) {
  .hero-list {
    margin-bottom: 44px;
  }
  .hero-text {
    padding-right: 10px;
  }
}

@media (max-width: 992px) {
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 768px) {
  .hero-text__title {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 15px;
  }
  .hero-text__subtitle {
    font-size: 16px;
    margin-bottom: 28px;
  }
  .hero-list__item {
    margin-bottom: 20px;
  }
  .hero-list__text {
    font-size: 12px;
    max-width: 198px;
  }
  .hero-list__image {
    margin-right: 15px;
  }
}

@media (max-width: 420px) {
  .hero {
    padding-top: 30px;
  }
  .hero-text {
    margin-left: 10px;
  }
  .hero-text__title {
    font-weight: 500;
    margin-bottom: 0;
  }
  .hero-image {
    margin-left: 10px;
  }
  .hero-list {
    margin-bottom: 35px;
  }
  .hero-list__image {
    width: 36px;
    height: 36px;
  }
}
/*# sourceMappingURL=style.css.map */